# Carpeta de salida de compilación
bin/
obj/

# Carpeta de archivos temporales
.vscode/
.vs/

# Archivos de usuario y configuración específicos de Visual Studio
*.user
*.suo
*.sln.docstates

# Carpeta de configuración de ReSharper
_ReSharper/

# Carpeta de caché de Rider
.idea/

# Carpeta de paquetes NuGet
*.nupkg
*.paket.sha256

# Carpeta de archivos de configuración generados
*.config

# Carpeta de resultados de pruebas
TestResults/

# Carpeta de resultados de cobertura de código
.coverage

# Carpeta de registros
*.log
